body {
    width: 100%;
    height: 100%;
}

.menu-principal {
    width: 100%;
    background-color: #be61ec;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 8px;
    width: 70%;
   
}

.logo img {
    width: 50px;
    padding-bottom: 5px;
    
}

.redes-sociais ul li {
    display: inline-block;
    float: right;

}

.redes-sociais img {
    width: 40px;
    margin-left: 18px;
    
}

.redes-sociais {
    width: 19,5%;
    float: left;
    
    
}
